<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>WebSocket Example</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="/src/main/resources/static/styles/main.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    	<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    	<script src="/src/main/resources/static/js/app.js"></script>
	</head>
	<body>
		<noscript>
			<h2 style="color: #ff0000">
				귀하의 브라우저가 Javascript를 지원하지 않습니다. WebSocket은 Javascript를 의존하므로 Javascript를 활성화 후 이 페이지를 새로고침 하세요!				
			</h2>
		</noscript>
		<div class="container" id="app">
			<div class="row">
		        <div class="col-md-12">
		            <h3>채팅방 목록</h3>
		        </div>
		    </div>
		    
		    <div class="input-group">
				
			</div>
		</div>
	</body>
</html>