<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>WebSocket Example</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    	<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
		<!--<link href="/src/main/resources/static/styles/main.css" rel="stylesheet">
    	<script src="/src/main/resources/static/js/app.js"></script>-->
	</head>
	<body>
		<noscript>
			<h2 style="color: #ff0000">
				귀하의 브라우저가 Javascript를 지원하지 않습니다. WebSocket은 Javascript를 의존하므로 Javascript를 활성화 후 이 페이지를 새로고침 하세요!				
			</h2>
		</noscript>
		<div class="container" id="app">
			<div class="row">
		        <div class="col-md-12">
		            <h3>채팅방 목록</h3>
		        </div>
		    </div>
		    
		    <div class="input-group">
				<div class="input-group-prepand">
					<label class="input-group-text">방 제목</label>
				</div>

				<input type="text" class="form-control" id="room_name" th:onkeyup="if(event.keyCode=='13'){event.preventDefault(); mainView.createRoom();}">
				
				<div class="input-group-append">
					<button class="btn btn-primary" type="button" th:onclick="mainView.createRoom()">채팅방 개설</button>
				</div>
			</div>
			
			<ul class="list-group" id="roomList">
				<li class="list-group-item list-group-item-action" id="roomItem" style="display: none;">
					<a id="room_detail_name"></a>
				</li>
			</ul>
		</div>
		
		<script>
			var mainView = {
				init : function() {
					mainView.getRooms();
				},
				
				getRooms : function() {
					
					$("[name='roomItemAdd']").remove();
					
					$.ajax({
						url: '/chat/roomlist',
						type: 'get',
						dataType: 'json',
						async: true,
						success : function(dataList) {
							if (dataList != null) {
								mainView.spreadList(dataList);
							}
						},
						error : function(error) {
							console.log(error);
						}
					})
				},
				
				createRoom : function() {
					
					const roomName = $("#room_name").val();
					
					const params = {
						roomName : roomName
					}
					
					$.ajax({
						url: '/chat/room',
						type: 'post',
						contentType: 'application/json; charset=utf-8',
						dataType: 'json',
						data: JSON.stringify(params),
						async: true,
						success : function(data) {
							if (data != null) {
								$("#room_name").val("");
								mainView.getRooms();
							}
						},
						error : function (error) {
							console.log(error);
						}
					})
				},
				
				spreadList : function(dataList) {
					if (typeof dataList != "undefined" && dataList != null && typeof dataList.length != "undefined" && dataList.length > 0) {
						for (var i = 0; i < dataList.length; i++) {
							var data = dataList[i];
							
							var listRow = $("#roomItem").clone();
							listRow.appendTo($("#roomList"));
							
							listRow.attr("id", data.roomId);
							listRow.attr("name", "roomItemAdd");
							listRow.find("#room_detail_name").text(data.roomName);
							listRow.find("#room_detail_name").on("click", data, function(event) {
								event.stopImmediatePropagation();
								
								var sender = prompt('대화명을 입력해주세요');
								
								if (sender !== "") {
									localStorage.setItem('wschat.sender', sender);
									localStorage.setItem('wschat.roomId', data.roomId);
									location.href = "/chat/room/enter/" + data.roomId;
								}
							})
							
							listRow.show();
						}
					}
				}
				
			}
			
			$(document).ready(function() {
				mainView.init();
			});	
		</script>
	</body>
</html>