<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>Cache Example</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
		        <div class="col-md-12">
		            <h3>캐시 예제</h3>
		        </div>
		    </div>
		    
		    <div class="row">
				<input type="text" class="form-control" id="user_name">
				<input type="text" class="form-control" id="user_age">
				
				<button type="button" class="btn btn-primary" th:onclick="mainView.getUserList()">리스트</button>
			</div>
		</div>
	</body>
</html>