<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>Redis Example</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    	<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
	</head>
	<body>
		<div class="container">
			<h2>Redis Cache Manager</h2>
			
			<div class="row py-3">
				<div class="col-md-6">
	            	<label for="user-id" class="form-label">유저 아이디</label>
	              	<input type="text" class="form-control" id="user-id" placeholder="" required>
	            </div>
	
	            <div class="col-md-6">
	              	<label for="user-name" class="form-label">유저 이름</label>
	              	<input type="text" class="form-control" id="user-name" placeholder="" required>
            	</div>
            	
            	<div class="col-md-6 py-3">
	              	<button type="button" class="btn btn-success" th:onclick="rcView.insertUser()">유저 생성</button>
            	</div>
			</div>
			
			<div class="py-3">
		        <div class="col-md-6 pb-3">
	              	<button type="button" class="btn btn-primary" th:onclick="rcView.getUserList()">리스트</button>
            	</div>
            	
		        <div class="col-md-12">
	              	<ul class="list-group" id="user-list">
						<li class="list-group-item list-group-item-action" id="user-item" style="display: none;">
							<div class="input-group">
								<label for="item-name" class="form-label">유저 이름</label>
								<input type="text" id="user-item-name" class="form-control">
								<button class="btn btn-outline-secondary" type="button" id="user-detail">상세</button>
								<button class="btn btn-outline-secondary" type="button" id="user-mod">수정</button>
	  							<button class="btn btn-outline-secondary" type="button" id="user-del">삭제</button>
  							</div>
						</li>
					</ul>
            	</div>
		    </div>
		</div>
	</body>
	<script>
		var rcView = {
			insertUser : function() {
					const userId = $("#user-id").val();
					const userName = $("#user-name").val();
					const user = {
						userId : userId,
						userName : userName,
					}
					
					$.ajax({
						url: '/rediscm/ins',
						type: 'post',
						contentType: 'application/json; charset=utf-8',
						dataType: 'json',
						data: JSON.stringify(user),
						async: true,
						success : function(data) {
							if (data != null) {
								$("#user-id").val("");
								$("#user-name").val("");
								alert("유저 아이디 : " + data.userId + " 유저 이름 : " + data.userName + " 생성 일자 : " + data.regAt + " 생성 완료!")
							}
						},
						error : function (error) {
							alert(error.responseText);
						}
					})
				},
				
				getUserList : function() {
					
					$("[name='user-item-add']").remove();
					
					$.ajax({
						url: encodeURI('/rediscm/all'),
						type: 'get',
						dataType: 'json',
						async: true,
						success : function(dataList) {
							if (dataList != null) {
								rcView.spreadList(dataList);
							}
						},
						error : function(error) {
							alert(error.responseText);
						}
					})
				},
				
				spreadList : function(dataList) {
					if (typeof dataList != "undefined" && dataList != null && typeof dataList.length != "undefined" && dataList.length > 0) {
						for(var i = 0; i < dataList.length; i++) {
							var data = dataList[i];
							
							var listRow = $("#user-item").clone();
							listRow.appendTo($("#user-list"));
							
							listRow.attr("id", data.userId);
							listRow.attr("name", "user-item-add");
							listRow.find("#user-item-name").val(data.userName);
							
							listRow.find("#user-detail").on("click", data, function(event) {
								event.stopImmediatePropagation();
								
								$.ajax({
									url: '/rediscm/detail/' + event.data.userId,
									type: 'get',
									dataType: 'json',
									async: true,
									success : function(data) {
										if (data != null) {
											alert("유저 아이디 : " + data.userId + " 유저 이름 : " + data.userName)
										}
									},
									error : function(error) {
										alert(error.responseText);
									}
								})
							})
							
							listRow.find("#user-mod").on("click", data, function(event) {
								event.stopImmediatePropagation();
								
								const modListRow = $("#" + data.userId);
								const modUserName = modListRow.find("#user-item-name").val();
								
								const user = {
									userId : event.data.userId,
									userName : modUserName
								};
								
								$.ajax({
									url: '/rediscm/upd',
									type: 'put',
									contentType: 'application/json; charset=utf-8',
									dataType: 'json',
									data: JSON.stringify(user),
									async: true,
									success : function(data) {
										if (data != null) {
											alert("수정에 성공하였습니다!");
											rcView.getUserList();
										}
									},
									error : function (error) {
										alert(error.responseText);
									}
								})
							})
							
							listRow.find("#user-del").on("click", data, function(event) {
								event.stopImmediatePropagation();
								
								const modListRow = $("#" + data.userId);
								
								const user = {
									userId : event.data.userId,
								};
								
								$.ajax({
									url: '/rediscm/del',
									type: 'delete',
									contentType: 'application/json; charset=utf-8',
									dataType: 'json',
									data: JSON.stringify(user),
									async: true,
									success : function() {
										alert("삭제에 성공하였습니다!");
										rcView.getUserList();
									},
									error : function(error) {
										console.log("에러");
										alert(error.responseText);
									}
								})
							})
							listRow.show();
						}
					}
				}
		}
	</script>
</html>