<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>Validation Annotation Example</title>
	
	</head>
	<body>
		<h2>회원 가입</h2>
		
		<form th:action="@{/nomuser/user}" th:object="${nomUser}" method="POST">
			<span>이메일</span>
			<input type="text" th:field="*{email}" th:class="${#fields.hasErrors('email')} ? 'error'">
			<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
			<br>
			
			<span>비밀 번호</span>
			<input type="password" th:field="*{password}" th:class="${#fields.hasErrors('password')} ? 'error'">
			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
			<br>
			
			<span>나이</span>
			<input type="number" th:field="*{age}" th:class="${#fields.hasErrors('age')} ? 'error'">
			<p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
			<br>		
			
			<span>이름</span>
			<input type="text" th:field="*{name}" th:class="${#fields.hasErrors('name')} ? 'error'">
			<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
			<br>
			
			<input type="submit" value="가입" id="test">
		</form>
	</body>
</html>